@using LMS.Resources
@{
    ViewBag.Title = Account.ResetPasswordConfirm;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Account.ResetPasswordSuccess @Html.ActionLink(Account.ResetPasswordClickHere, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
