@model System.Web.Mvc.HandleErrorInfo
@using LMS.Resources

@{
    ViewBag.Title = Global.Lockout;
}

<hgroup>
    <h1 class="text-danger">@Global.Lockout</h1>
    <h2 class="text-danger">@Global.LockoutAccountLocked</h2>
</hgroup>
