<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Screenshot Zoomed</h4>
</div>
<div class="modal-body">
    <img id="screenshotzoom-img" src="/Images/noscreenshot.png" alt="Screenshot Zoomed" class="img-responsive img-thumbnail center-block" />
</div>

