@using LMS.Resources
<section class="row">
    <h3 class="h5 col-md-12">@Global.StatTechnoAnalysis</h3>
    <div class="col-md-4 col-xs-12">
        <h6>@Global.StatTechnoBrowserType</h6>
        <div id="list-btype"></div>
    </div>
    <div class="col-md-4 col-xs-12">
        <h6>@Global.StatTecnoOs</h6>
        <div id="list-bos"></div>
    </div>
    <div class="col-md-4 col-xs-12">
        <h6>@Global.StatTechnoScreen</h6>
        <div id="list-screen"></div>
    </div>
</section>
