@{
    ViewBag.Title = "Elmah Page";
}

<h2>@ViewBag.Title</h2>

<a href="~/elmah.axd" target="_blank" class="btn btn-lg btn-primary">Open Elmah AXD Page</a>
<a href="~/Elmah/CreateLog" class="btn btn-lg btn-warning">Create an Elmah Log</a>
